body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background: linear-gradient(30deg,#2980b9,#8e44ad);*/
}

.all_in {
    min-width: 1250px;
    min-height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 0 0 20px #000;
    border-radius: 25px;
    background: #fff;
}

.debug {
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: solid black;
    background-color: #fff;
    z-index: 11;
    height: auto;
    width: 200px;
    text-align: center;
}

.log_out {
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
    z-index: 11;
}

.log_out a {
    border: 1px #000000;
    line-height: 40px;
    color: #000;
    text-decoration: none;
}

.log_out a {
    border: 1px #000000;
    line-height: 40px;
    color: #000;
    text-decoration: none;
}

.log_out a:hover {
    color: silver;
}

.head {
    display: flex;
    flex-direction: row;
}

.a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a a {
    width: 150px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: #000;
    font-size: 25px;
    font-weight: 900;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 12px;
}

.a a:hover {
    color: silver;
}

.aa {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 33%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aa form {
    width: 150px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.aa form a {
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

.aa form a:hover {
    color: silver;
}

.ID {
    padding-top: 20px;
    height: 50px;
    display: flex;
}

.ID output {
    width: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 27px;
}

.ID .name {
    text-align: left;
}

.dur {
    display: flex;
}

.dur h1 {
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    line-height: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.durf {
    display: flex;
    flex-direction: column;
}

.durf .start,
.durf .fin {
    display: flex;
    margin: 10px;
}

.durf h2 {
    margin: 0 20px 0 0;
    padding: 5px 10px;
    font-weight: 300;
}

.durf input {
    width: 300px;
    margin: 0 20px;
    padding: 0;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 24px;
    outline: none;
    background: none;
}

.durf input::-webkit-calendar-picker-indicator {
    outline: none;
    cursor: pointer;
}

.stay {
    display: flex;
    margin-top: 25px;
}

.stay h1 {
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    line-height: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.stay h2 {
    margin: 0 20px 0 0;
    padding: 5px 10px;
    font-weight: 300;
}

.ad {
    display: flex;
    margin: 10px;
}

.ad input {
    outline: none;
    background: none;
}

.ad input[type="text"] {
    width: 500px;
    margin: 0 20px;
    padding: 0;
    padding-left: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 24px;
}

.ad #stay {
    width: 140px;
    padding: 0;
    font-size: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 24px;
}

.ad #stay::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tel {
    display: flex;
    margin: 25px 0 0 0;
}

.tel h1 {
    margin: 0;
    padding: 0 0 0 50px;
    width: 200px;
    line-height: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.tel input {
    width: 700px;
    height: 50px;
    margin: 10px 10px 10px 45px;
    padding: 0;
    font-size: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    padding-left: 10px;
    border: 1px solid silver;
    border-radius: 24px;
}

.under {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.recf {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 200px;
}

.recf input {
    width: 800px;
    height: 50px;
    margin: 10px;
    padding: 0;
    font-size: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

.recf input[type="text"] {
    padding-left: 10px;
    border: 1px solid silver;
    border-radius: 24px;
}

.recf input[type="file"] {
    display: none;
}

.recf label {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 24px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.trance {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 45%;
}

.under input[type="submit"] {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 2em;
    font-weight: 800;
    font-family: serif;
    cursor: pointer;
    border: 1px red solid;
    border-radius: 50px;
    outline: none;
    background: none;
}

.under input[type="submit"]:hover {
    background: rgba(255, 0, 0, 0.5);
}

.fix:disabled {
    visibility: hidden;
}

.fix:enabled {
    visibility: visible;
}

.main {
    page-break-after: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 200px;
    width: 90%;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 20px;
}

.main::-webkit-scrollbar {
    display: none;
}

.main table {
    border-collapse: collapse;
    text-align: center;
}

.main table thead th {
    position: sticky;
    z-index: 10;
    top: 0;
}

.main table tfoot th {
    position: sticky;
    z-index: 10;
    bottom: 0;
}

.main table tr {
    height: 30px;
}

.main table td {
    border: solid 1px black;
}

.main table td:first-child {
    border-left: none;
}

.main table td:last-child {
    border-right: none;
}

.main table th {
    background-color: white;
    border-right: black 1px solid;
}

.main th:last-child {
    border-right: none;
}

.comment {
    position: absolute;
    right: 1%;
    top: 17%;
    border: 1px rgb(0, 0, 0) solid;
    width: 200px;
    height: 250px;
    z-index: 1000;
}